---
import "@/styles/globals.css";
import { ThreeDCardDemo } from "@/components/threedcarddemo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + Aceternity</title>
  </head>
  <body class="dark">
    <div
      class="w-screen h-screen flex flex-col justify-center items-center bg-black text-white"
    >
      <h1 class="text-center text-7xl p-5">Astro + Aceternity</h1>
      <ThreeDCardDemo client:idle />
    </div>
  </body>
</html>
